body{
  background-size: cover;
  display: flex;
  justify-content: center;
  background-image: url(./background-blur-clean-clear-531880.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.App {
  text-align: center;
  padding: 20px 20px 50px 20px;
  color: #5CDB95;
  width: 100%;
  border: 2px solid #C3CCF1;
  border-radius: 25px;
  min-height: 90vh;
  background-color:rgba(44, 42, 42, 0.4);
}
@media only screen and (max-width:600px){
  .App{
    margin-left: 300px;
    margin-right: 10px;
    width: 60%;
    height: 50vh;
  }
  body{
    width: 40vh;
    height: 40vh;
  }
}

@media only screen and (max-width:375px){
  .App{
    margin-left: 300px;
    margin-right: 10px;
    width: 60%;
    height: 50vh;
  }
  body{
    width: 40vh;
    height: 40vh;
  }
}
.header{
  border: 1px solid #C3CCF1;
  background-color: rgba(44, 42, 42, 0.4);
  border-radius: 10px;
}

.newTransaction{
  border: 1px solid #C3CCF1;
  background-color: rgba(44, 42, 42, 0.4);
  border-radius: 10px;
  margin-top: 10px;
}
/* .App:fullscreen{
  height: 100%;
  background-color: black;
  
} */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb; */
/* }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */

.inflow-outflow{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 20px;
  }

.transaction-history{
  border: 1px solid #C3CCF1;
  background-color: rgba(44, 42, 42, 0.4);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* #inflow-history, #outflow-history{
  margin: 0rem 2rem 0rem 2rem;
}

#inflow-history h5, #outflow-history h5{
  text-align: right;
  display: block;
} */

table, tr, th, td{
  border: 2px solid #379863;
  border-collapse: collapse;
  padding: 10px;
}

.particulars-history{
  width: 16rem;
  max-width: 16rem;
}

.inflow, .outflow{
  width: 04rem;
  max-width:04rem;
}

table{
  width: 30rem;
  max-width: 30rem;
}

.particular-details{
  text-align: left;
}

#particulars, #amount{
  font-size: 14px;
  width: 29rem;
  padding: 8px;
  border: 1px solid #5CDB95;
  color:#5CDB95;
  background-color: rgba(44, 42, 42, 0.4);
  margin-bottom: 10px;
}


#particulars:focus, #amount:focus, #particulars:hover, #amount:hover, #particulars:hover::placeholder, #amount:hover::placeholder{
  background-color: #5CDB95;
  color: black;
}


.btn{
  background-color: black;
  border: 1px solid #5CDB95;
  padding: 5px;
  color: #5CDB95;
  margin: 5px;
  width: 100px;
  font-weight: bold;
}
.btn:hover{
  background-color: #5CDB95;
  border: 1px solid black;
  color: black;
}

::placeholder{
  color: #5CDB95;
}

.net-balance{
  font-weight: bold;
}

.btn1{
  background-color: black;
  border: 0.5px solid #5CDB95;
  color: #5CDB95;
  display: block;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.particular-details span{
  display: inline-block;
}